[submodule "libultraship"]
	path = libultraship
	url = https://github.com/turtlesoupy/libultraship.git
	branch = wasm
[submodule "torch"]
	path = torch
	url = https://github.com/turtlesoupy/Torch.git
	branch = wasm
[submodule "decomp"]
	path = decomp
	url = https://github.com/turtlesoupy/ssb-decomp-re.git
	branch = wasm
